 <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" style="padding-left:20px;" href="/">SHOP</a>
     
   <div class="collapse navbar-collapse " id="navbarsExampleDefault" style="text-align:right;">
        <ul class="navbar-nav mr-auto navbar-right">
          <li class="nav-item active">
            
          </li>
        

       
        </ul> 
       <ul class="nav navbar-nav navbar right">
    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
              
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
         <% for (var i = 0; i < categories.length; i++)  { %>
            <li><a href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
          <% } %>
             
            </ul>
          </li>
           
           
           
           <% if (!user) { %>
           
           
              <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Up/ Login</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/signup">Sign Up</a>
              <a class="dropdown-item" href="/login">Log In</a>
             
            </div>
          </li>
           
           <% } else { %>
               <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><%= user.profile.name %></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/profile">My profile</a>
              <a class="dropdown-item" href="/logout">Log out</a>
             
            </div>
          </li>
           
        <% } %>
           
        
       </ul>
    
          
      </div>
    </nav>