<% layout('layout') -%>


 <div class="jumbotron">
      <div class="container">
        <h1>Find the Best Deals Here!</h1>
        <p>Our prices are literally some of the best, anywhere!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3>Look for smart items</h3>
        <p>Signup to start buying </p>
       
        </div>
        <div class="col-md-4">
          <h3>Look for smart items</h3>
          <p>Signup to start buying </p>
        
       </div>
        <div class="col-md-4">
          <h3>Look for smart items</h3>
          <p>Signup to start buying </p>
         
        </div>
      </div>