<% layout('boilerplate') -%>

<h1>Find the Best Deals Here!</h1>

<p>Start here to find something amazing</p>
<p>Our prices are literally some of the best, anywhere!</p>

<h3>Start you search here!</h3>
<p>Signup now to start Shopping</p>

<h3>Look for smart items</h3>

<h3>BUILD A SMART CART</h3>